<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="./css/index.css">
    <title>page</title>
  </head>

  <body>
    @@include('../../_temp/_header.html',{
      "index":"active"
    })
    <div class="test-img"></div>
    <div class="test-img1"></div>
    <div class="test-img2"></div>
    <script src="./js/index.js"></script>
  </body>
</html>
